.fill {
	@apply flex flex-col w-full;
	max-width: 650px;

	.row {
		@apply flex justify-between items-end;

		& + .row {
			@apply mt-5;
		}

		.button {
			margin-left: 60px;
		}

		.col {
			@apply flex flex-col w-full;

			.label {
				@apply text-xs text-primary/50 mb-0.5;
				letter-spacing: 0.26px;
			}

			.input {
				@apply border-b-2 border-primary/20 border-solid text-primary/60 py-0.5 focus:outline-none;
			}
		}
	}
}
